@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Acceso Denegado</h1>
<p>Está tratando de ingresar a una página a la que no tiene permisos de acceso</p>
<p>Contacte al Administrador del Sistema.</p>