
@{
    ViewData["Title"] = "Error404";
}

<br />
<br />
<br />
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
 
    <div class="col-md-6" >
        <div class="card" style="padding:10px;">
            <img src="~/img/notfound2.png" />
            <br />
            <p style="text-align:right;"><b>Continue con nosotros en </b><a href="/">Página Inicial</a></p>

        </div>
    </div>
</div>